<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo-app</title>
    <div th:replace="header :: head"></div>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"
          rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

</head>
<body>
<div th:insert="header :: myHeader"></div>
<h1>Add task to do:</h1>
<div>
    <!-- 1 FORMULARZ DODAWANIA ZADANIA -->
    <form action="#" method="post" th:action="@{/todo-app/}" th:object="${task}">
        <div style="display: inline-block">
            <input type="text" class="form-control" th:field="*{taskSubject}" placeholder="Subject"/>
        </div>
        <div style="display: inline-block"><p class="alert-danger" th:errors="*{taskSubject}"></div>

        <div>
            <input type="text" class="form-control" placeholder="Task details" th:field="*{taskDetails}">
        </div>
        <div style="display: inline-block">
            <div class="form-group">
                <div class='input-group date' id='datepicker'>
                    <input th:field="*{taskDeadline}" type='date' id="date" name="date"/>
                    <span class="input-group-addon"></span>
                </div>
            </div>
        </div>
        <div style="display: inline-block"><p class="alert-danger" th:errors="*{taskDeadline}"></p></div>
        <div/>

        <input type="submit" class="btn btn-success" value="Save" style="float: left;">
    </form>

    <!-- 2 FORMULARZ DODAWANIA ZADANIA -->
    <!-- 1 FORMULARZ WYLOGOWANIA-->
    <form action="#" th:action="@{/logoutForm}" method="post">
        <input type="submit" class="btn btn-danger" value="Log me out" style="margin-left: 134px">
    </form>
    <!-- 2 FORMULARZ WYLOGOWANIA-->
</div>
</div>
<br><br>

<!--------------------------------------------------------------------------------------->
<div th:if="not ${taskPage.isEmpty()} or ${taskPage.totalPages > 0}">
    <h1>All added tasks:</h1>
    <table id="task-table" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th data-sort-prop="user.ownerLogin">Login</th>
            <th data-sort-prop="taskSubject">Subject</th>
            <th data-sort-prop="taskDetails">Content</th>
            <th data-sort-prop="taskCreateTime">Create time</th>
            <th data-sort-prop="taskDeadline">Deadline</th>
            <th data-sort-prop="id">Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active" th:each="task, iStat : ${taskPage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="*{task.user.ownerLogin}"></td>
            <td th:text="*{task.taskSubject}"></td>
            <td th:text="*{task.taskDetails}"></td>
            <td th:text="*{task.taskCreateTime}"></td>
            <td th:text="*{task.taskDeadline}"></td>
            <td>
                <form action="#" method="post" th:action="@{/todo-app/delete/{id}(id=${task.id})}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- using th:with to declare a local variable for sorting query param -->
<div class="pagination-div" style="text-align: center !important;"
     th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
    <span th:if="${taskPage.hasPrevious()}">
        <a th:href="@{/todo-app/(page=${taskPage.number-1},size=${taskPage.size},sort=${sortParam})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, taskPage.totalPages - 1)}">
        <span th:if="${taskPage.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${taskPage.number == i}">
             <a th:href="@{/todo-app/(page=${i},size=${taskPage.size},sort=${sortParam})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${taskPage.hasNext()}">
        <a th:href="@{/todo-app/(page=${taskPage.number+1},size=${taskPage.size},sort=${sortParam})}">Next</a>
    </span>
</div>

<div style="clear: both;"></div>
<div th:if="${taskPage.isEmpty()} and ${taskPage.totalPages < 1}">
    <h1>There is no tasks yet :(</h1>
</div>

<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${sortProperty}]]*/ null;
    var sortDesc = /*[[${sortDesc}]]*/ null;
    var currentPage = /*[[${taskPage.number}]]*/ 0;
    var pageSize =/*[[${taskPage.size}]]*/ 0;
    /*]]>*/

    $(document).ready(function () {
        //show up/down arrows
        $("table#task-table thead th").each(function () {
            var head = $(this);
            if (head.attr('data-sort-prop') == sortProperty) {
                head.append(sortDesc ? '▾' : '▴');
            }
        });

        //set click action, reload page on clicking with all query params
        $("table#task-table thead th").click(function () {
            var headerSortPropName = $(this).attr("data-sort-prop");
            if (headerSortPropName == sortProperty) {
                window.location.href = window.location.pathname +
                    '?page=' + currentPage + '&size=' + pageSize + '&sort=' + headerSortPropName + ',' +
                    (sortDesc ? 'asc' : 'desc');
            } else {
                window.location.href = window.location.pathname +
                    '?page=' + currentPage + '&size=' + pageSize + '&sort=' + headerSortPropName + ',asc';
            }
        });
    });
</script>
</body>
</html>