<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login form</title>
    <div th:replace="header :: head"></div>
</head>
<body>
<div th:insert="header :: myHeader"></div>

<div id="container">
    <h1 style="text-align: center">Please login</h1>
    <form name="login_form" action="#" th:action="@{/loginForm}" method="post">
        <div th:if="${param.error}" class="alert alert-danger" style="font-size: 18px;" role="alert">
            Invalid username or password.
        </div>
        <input type="text" name="username" class="form-control" placeholder="username"/>
        <input type="password" name="password" class="form-control" placeholder="password"/><br>
        <input type="submit" class="btn btn-success" value="Login" style="float: left; padding-left: 20px; padding-right: 20px" />
    </form>
    <form action="#" th:action="@{/register}" method="get" style="float: right;" >
        <input type="submit" class="btn btn-info" style="padding-left: 20px; padding-right: 20px;" value="Registration">
    </form>
</div>



</body>
</html>