<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: head"></div>
</head>
<body>
<div th:insert="header :: myHeader"></div>
<div th:insert="header :: navigationBar"></div>

<h1>Please login</h1>

<form action="#" th:action="@{/loginForm}" method="post">
    <input name="username" class="form-control" placeholder="username"/><br>
    <input type="password" name="password" class="form-control" placeholder="password"/><br>
    <input type="submit" class="btn btn-success" value="login"/>
</form>
<form action="#" th:action="@{/register}" method="get">
    <h1>Registration Form</h1>
    <input type="submit" class="btn btn-info" value="Go to registration!">
</form>

</body>
</html>