<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Loger</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<h1>Please login</h1>


<form action="/loginForm" th:action="@{/loginForm}" method="post">
    <input name="username" class="form-control" placeholder="username"/><br>
    <input name="password" class="form-control" placeholder="password"/><br>
    <input type="submit" class="btn btn-success" value="login"/>
</form>
<form action="/registrationForm" th:action="@{/registrationForm}" >
    <h1>Registration Form</h1>
    <a href="/registrationForm">Go to registration!</a>
</form>

</body>
</html>