<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration form</title>
    <div th:replace="header :: head"></div>
</head>
<body>
<div th:insert="header :: myHeader"></div>
<h1>Registration form</h1>

<form action="#" method="post" th:action="@{/register}" th:object="${user}">
    <input type="text" th:field="*{firstName}" placeholder="First name" class="form-control"/>
    <input type="text" th:field="*{lastName}" placeholder="Last name" class="form-control"/>
    <input type="text" th:field="*{ownerLogin}" placeholder="Login" class="form-control"/>
    <input type="text" th:field="*{password}" placeholder="Password" class="form-control"/>
    <input type="text" th:field="*{email}" placeholder="Email address" class="form-control"/>
    <input type="text" th:field="*{phoneNumber}" placeholder="Phone number" class="form-control"/>
    <br>
    <input type="submit" class="btn btn-success" value="Register"/>
</form>

</body>
</html>